@charset "UTF-8";

/*
Paleta de cores
verde: #49a09d
lilás: #5f2c82
*/

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    /*para colocar ele no meio da tela*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    /*tudo que estiver fora da borda, ficara escondido*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.36);

    transition: width .2s, height .2s;/*ANIMAÇÃO */
    transition-timing-function: ease;

}

section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: left bottom;/*para selecionar uma parte especifica da imagem*/

}

section#login > div#formulario{
    padding: 10px;
    display: block;
}


